footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 200px;
}

.footer-items {
  margin-left: 20px;
  margin-right: 150px;
  width: 20%;
}

footer ul {
  padding-left: 30px;
}

footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: black;
}
