@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    padding: 0 !important;
    margin: auto !important;
    overflow-x: auto !important;
    width: 100% !important;
  }
  .filters-container {
    width: 90% !important;
    flex-wrap: wrap !important;
    flex-direction: row;
    justify-content: space-between !important;
  }
  .cards-hébergement {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    margin-bottom: 20px !important;
  }

  .cards-populaire h2 {
    width: 98% !important;
    height: 20px !important;
    margin: auto !important;
  }
  .cards-populaire {
    width: 100% !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    height: 240px !important;
    align-items: center;
    justify-content: space-around !important;
  }

  h4 {
    font-size: 15px;
  }
  .cards-populaire h4 {
    width: 120% !important;
    max-height: 60px !important;
    line-height: 15px;
    width: 200px !important;
  }
  .cards-populaire p {
    width: 120% !important;
    line-height: 15px;
  }
  .cards1 {
    margin: 0 !important;
    width: 30% !important;
    height: 140px !important;
  }
  .cards1 img {
    width: 30% !important;
  }
  .container-cards-activité {
    height: 250px !important;
  }
  .container-cards-activité h4 {
    padding-left: 15px !important;
    padding-top: 5px !important;
    margin: 0 !important;
    width: 150px !important;
  }

  .cards-activité-tall img {
    height: 75% !important;
  }
  .footer-items {
    margin-right: 0 !important;
  }
  footer {
    justify-content: space-around !important;
  }
}
